.title {
    font-size: 48px;
    margin: 3vh 0;
    color: #c8c8d3;
    font-weight: bold;
}

.file-list {
    width: 100%;
    /* border: 1px solid red; */
    margin: 1vh 0;
    color: #c8c8d3;
    max-height: 53vh;
    overflow: hidden;
    overflow-y: scroll;
    /* scrollbar-width: none; For Firefox */
}

/* width */
::-webkit-scrollbar {
    width: 1px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #bb9de9d7; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #BC9DE9; 
  }

.file-row {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    padding: 10px 15px;
    border-bottom: 1px solid #343a4f;
    height: 8.8vh;
    background-color: #252738;
    color: #c8c8d3;
}


.file-name {
    flex: 2;
    display: flex;
    /* width: 100%; */
    white-space: nowrap;
    align-items: center;
    justify-content: left;
    font-size: 30px;
    gap: 10px;
    color: #C7CFF2;
}

.actions {
    /* flex: 1; */
    gap: 1vw;
    display: flex;
    justify-content: right;
    align-items: center;
    color: #C7CFF2;
}

.seperator {
    background-color: #373A4D;
    width: 1px;
    height: 50%;
    color: transparent;
}

.speed-indicator {
    display: flex;
    gap: 0px;
    align-items: center;
    color: #C7CFF2;
    font-size: 20px;
}

/* .upload-speed,
.download-speed, */
.file-size {
    flex: 1;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    /* color: #8a8e99; */
}

.action-button {
    flex: 0.5;
    background-color: transparent;
    color: #8a8e99;
    border: none;
    cursor: pointer;
    font-size: 16px;
    /* padding: 5px; */
    border-radius: 5px;
    transition: background-color 0.3s;
}

.action-button:hover {
    background-color: #343a4f6c;
}

/* Footer section */
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F202F;
    /* border-top: 1px solid #373A4D; */
    height: 27vh;
    box-shadow: 0px -10px 10px 20px #1F202F;

}


.add-service, .add-file {
    display: flex;
    flex: 1;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    color: #C7CFF2;
    /* border: 1px solid red; */
    font-weight: bold;
    background-color: transparent;
}


.services{
    display: flex;
    /* flex: 1; */
    justify-content: space-around;
    align-items: center;
    gap: 3vh;
    color: #C7CFF2;
    /* border: 1px solid red; */
    font-weight: bold;
}

.service-button, .add-file-button {
    background-color: transparent;
    color: #C7CFF2;
    border: none;
    cursor: pointer;
    font-size: 20px;
    border: none;
    /* padding: 5px; */
    border-radius: 5px;
    transition: background-color 0.3s;
}

.add-file-button:hover {
    background-color: #343a4f;
}
